html {
  overflow-y: scroll;
   scrollbar-gutter: stable;
}

 body {
  width: 100%;
  overflow-x: hidden;
  margin: 0;
}

* {
  box-sizing: border-box;
}

#root {
  width: 100%;
  margin: 0;
  padding: 0;
}

* {
  outline: 1px solid red;
}


.custom-scrollbar::-webkit-scrollbar {
  width: 6px;
}

.custom-scrollbar::-webkit-scrollbar-track {
  background: transparent;
}

.custom-scrollbar::-webkit-scrollbar-thumb {
  background-color: #3f3f46; /* gray-700 */
  border-radius: 999px;
}

.custom-scrollbar::-webkit-scrollbar-thumb:hover {
  background-color: #52525b; /* gray-600 */
}

/* Firefox */
.custom-scrollbar {
  scrollbar-width: thin;
  scrollbar-color: #3f3f46 transparent;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}
