# Node.js
node_modules/
npm-debug.log
.env
*.log

# Editor/OS specific
.DS_Store
.vscode/

upload/

# Build artifacts
dist/
build/

# PostgreSQL data directory
/data/
/pgdata/
/var/lib/postgresql/data/

# PostgreSQL log files
*.log
pg_log/

# PostgreSQL configuration files (if local or sensitive)
postgresql.conf.local
pg_hba.conf

cors.json